@import "tailwindcss";

@theme {
  --color-clifford: #da373d;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}

.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus {
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  outline: none !important;
}

.login-input {
  background-color: transparent !important;
  background-image: none !important;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  caret-color: #fff;
}

.login-input:focus,
.login-input:focus-visible {
  border-color: #f97316 !important;
  box-shadow: none !important;
  outline: none !important;
}
